* {
    margin: 0;
    padding: 0;
    font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.app {
    background-color: #FAFAFA;
}

.app__header {
    object-fit: contain;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.app__headerImage {
    width: 110px;
    padding: 5px 20px;
}

.app__signup{
    display: flex;
    flex-direction: column;
}