@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tamma 2', cursive;
    -webkit-font-smoothing: subpixel-antialiased;
}

.app {
    background-color: #FAFAFA;
}

.app__header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    object-fit: contain;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.app__headerImage {
    object-fit: contain;
    width: 110px;
    padding: 5px 20px;
}

.app__posts {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.app__postsRight {
    margin-left: 20px;
}

.app__signup {
    display: flex;
    flex-direction: column;
}